[class*="col-"]{
    background-color: aqua;
    border: 1px solid white;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: white;
    font-size:xx-large;
}



.green{
    background-color: green;
    height: 60px;
    border: 1px solid black;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size:x-large;
}

.padding{
    margin: 20px auto;
    padding: 0 10px;
}

.top{
    margin-top: 40px;
}


